@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #0f172a;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mask-image-gradient {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}